/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_capslock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <39 38>;
            layers = <0 1 2>;
            timeout-ms = <50>;
        };

        combo_ctrl {
            bindings = <&skq RCTRL>;
            key-positions = <26 27>;
            layers = <0 1 2>;
            timeout-ms = <50>;
        };

        combo_shift {
            bindings = <&skq RIGHT_SHIFT>;
            key-positions = <8 9>;
            timeout-ms = <50>;
            layers = <0 1 2>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <2 3>;
            timeout-ms = <50>;
            layers = <0 1 2>;
        };
    };

    behaviors {
        skq: skq {
            compatible = "zmk,behavior-sticky-key";
            label = "sticky_key_quick_release";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------
            // |     |  Q  |  W  |  F  |  P  |  B  | |  J  |  L  |  U  |  Y  |BKSPC|     |
            // |     |  A  |  R  |  S  |  T  |  G  | |  M  |  N  |  E  |  I  |  O  |     |
            // |     |  Z  |  X  |  C  |  D  |  V  | |  K  |  H  |  ,  |  .  |RCTRL|     |
            //                   | CMD |-SYM-| SPC | | RET |-NUM-| OPT |

            bindings = <
&none  &kp Q  &kp W  &kp F     &kp P  &kp B        &kp J    &kp L  &kp U      &kp Y    &kp BACKSPACE      &none
&none  &kp A  &kp R  &kp S     &kp T  &kp G        &kp M    &kp N  &kp E      &kp I    &kp O              &none
&none  &kp Z  &kp X  &kp C     &kp D  &kp V        &kp K    &kp H  &kp COMMA  &kp DOT  &kp RIGHT_CONTROL  &none
                     &kp LGUI  &mo 2  &kp SPACE    &kp RET  &mo 1  &kp RALT
            >;
        };

        num_layer {
            // ---------------------------------------------------------------------------
            // |     |     |  7  |  8  |  9  |     | |  `  |  |  |  -  |  /  | DEL |     |
            // |     |  .  |  4  |  5  |  6  |     | |  '  |  "  |  _  |  =  |SHIFT|     |
            // |     |  ~  |  1  |  2  |  3  |     | |     |  +  |  ?  |  !  |RCTRL|     |
            //                   | OPT |  0  | SPC | | RET |_NUM_| CMD |
            bindings = <
&none  &kp DELETE  &kp N7        &kp N8        &kp N9        &kp STAR     &kp GRAVE         &kp PIPE           &kp MINUS       &kp SLASH        &kp BACKSPACE   &none
&none  &kp DOT     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS    &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp UNDERSCORE  &kp EQUAL        &kp LEFT_SHIFT  &none
&none  &kp TILDE   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS     &none             &kp PLUS           &kp QUESTION    &kp EXCLAMATION  &kp RCTRL       &none
                                 &kp LGUI      &kp NUMBER_0  &kp SPACE    &kp RET           &trans             &kp RIGHT_ALT
            >;
        };

        symbol_layer {
            // ---------------------------------------------------------------------------
            // |     |  \  |  <  |  >  |  @  |  $  | |  |  |  %  |  [  |  ]  |  /  |     |
            // |     |  '  |  "  |  =  |  !  |  :  | |  &  |  ?  |  (  |  )  |  ;  |     |
            // |     |  `  |  +  |  _  |  -  |  *  | |  ~  |  #  |  {  |  }  |  .  |     |
            //                   | OPT |  0  | SPC | | RET |_NUM_| CMD |
            bindings = <
&none  &kp BACKSLASH     &kp LT             &kp GT     &kp AT     &kp DOLLAR    &kp PIPE       &kp PERCENT   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SLASH  &none
&none  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp EQUAL  &kp EXCL   &kp COLON     &kp AMPERSAND  &kp QUESTION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMI   &none
&none  &kp GRAVE         &kp PLUS           &kp UNDER  &kp MINUS  &kp STAR      &kp TILDE      &kp HASH      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOT    &none
                                            &kp LGUI   &trans     &kp SPACE     &kp ENTER      &kp ESCAPE    &kp LEFT_ALT
            >;
        };
    };
};
